@import '../config/const';
@import '../animations/fadeIn';
@import '../animations/slideIn';

.reverse {
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.gray-layer {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: $globalGrayLayer;
}

.close {
  display: block;
  width: 45px;
  height: 45px;

  &__svg {
    transition: $defaultTransition;
    fill: $globalColorPrimary;

    &:hover,
    &:focus,
    &:active {
      transition: $defaultTransition;
      transform: rotate(4deg);
      fill: $globalColorPrimaryHover;
    }
  }
}

header {
  position: sticky;
  top: 0;
}

.header {
  &__logo svg {
    width: 130px;
    height: 45px;
  }

  &__burger svg {
    width: 45px;
    height: 45px;
    transition: $defaultTransition;

    &:hover,
    &:focus,
    &:active {
      transition: $defaultTransition;
      transform: rotate(4deg);
    }
  }

  &__logo svg,
  &__burger svg {
    &:hover,
    &:focus,
    &:active {
      path {
        transition: $defaultTransition;
        fill: $globalColorPrimaryHover;
      }
    }

    path {
      transition: $defaultTransition;
      fill: $globalColorPrimary;
    }
  }

  &__burger-wrapper {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    animation-duration: $defaultAnimationDuration;
    text-align: center;
    background-image: url('../../images/menu/menu-background.png');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }

  &__welcome,
  &__work,
  &__about,
  &__services,
  &__talk {
    font-size: 52px;
    font-weight: bold;
    line-height: 1.2em;
    display: block;
    width: 100%;
    transition: $defaultTransition;
    text-decoration: none;
    letter-spacing: -1.1px;
    color: $globalColorPrimary;

    &:hover,
    &:focus,
    &:active {
      transition: $defaultTransition;
      color: $globalColorPrimaryHover;
    }

    &_red {
      color: $globalColorPrimaryHover;
    }
  }

  &__menu {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
    text-align: center;

    &-item {
      transition: $defaultTransition;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        transition: $defaultTransition;
        transform: skew(-8deg);
      }

      &-list {
        width: 100%;
        max-width: 80%;
        padding: 0 0 25px;
      }
    }
  }

  &__mobile {
    &-privacy {
      font-family: 'Basier Bold', sans-serif;
      font-size: 17px;
      font-weight: 600;
      line-height: 1.3em;
      transition: $defaultTransition;
      text-decoration: none;
      letter-spacing: 0;
      color: $globalColorPrimary;

      &:hover,
      &:focus,
      &:active {
        transition: $defaultTransition;
        color: $globalColorPrimaryHover;
      }
    }
  }
}

.icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 160px;
  margin: 0 auto;
  padding: 15px 0 0;
}

.icon-svg {
  &__instagram,
  &__behance,
  &__dribbble,
  &__linkedin {
    width: 20px;
    height: 20px;
    fill: $globalColorPrimary;
  }
}

.icon {
  &-instagram,
  &-behance,
  &-dribbble,
  &-linkedin {
    width: 40px;
    height: 40px;
    padding: 10px;
    transition: $defaultTransition;

    &:hover,
    &:focus,
    &:active {
      transition: $defaultTransition;
      transform: translateY(8px);
      opacity: .9;
      border-radius: 10px;
      background-color: $globalColorPrimaryHover;
    }
  }
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    &__burger-wrapper {
      border-radius: 30px 0 0 30px;
    }
  }
}

@media screen and (min-width: 1025px) {
  .header {
    &__menu {
      padding: 43px 0;
    }

    &__mobile {
      display: none;
    }
  }
}