@import '../config/config';

.header {
  &__about {
    color: $globalColorPrimaryHover !important;
  }
}

body {
  background-image: url('../../images/about-milkink/background-table.png');
  background-position: center right;

}

@media screen and (min-width: 1025px) {
  body {
    background-image: url('../../images/about-milkink/background.png');
  }
}