@import '../config/config';

body {
  background-image: url('../../images/lets-talk/background-table.png');
}

@media screen and (min-width: 1025px) {
  body {
    background-image: url('../../images/lets-talk/background.png');
    background-position: top left;
  }
}