@import '../config/config';

.header {
  &__welcome {
    color: $globalColorPrimaryHover !important;
  }
}

body {
  background-image: url('../../images/home/background-table.png');
}

@media screen and (min-width: 1025px) {
  body {
    background-image: url('../../images/home/background.png');
  }
}