@import '../config/config';

.header {
  &__work {
    color: $globalColorPrimaryHover !important;
  }
}

body {
  background-image: url('../../images/work/background-table.png');
  background-position: center center;
}

@media screen and (min-width: 1025px) {
  body {
    background-image: url('../../images/work/background.png');
    background-position: top right;
    background-size: cover;
  }
}