// Colors
$globalColorPrimary: #DDD3C7;
$globalColorPrimaryHover: #8D2323;
$globalBackgroundColor: #00000033;
$globalGrayLayer: #030303;

// Const
$defaultTransition: all .4s ease;
$defaultAnimationDuration: .6s;