@import './reset';
@import './../components/footer';
@import './../components/header';
@import '../config/const';

$globalContainerWidth: 90%;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.container_main {
  min-height: 100vh;
  background-color: $globalBackgroundColor;
}

.page-content {
  margin: 0 auto;
  padding: 0 30px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-repeat: repeat-y;
  background-position: top center;
  background-size: cover;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1025px) {
  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  }

  .page-content {
    width: $globalContainerWidth;
    padding: 0;
  }
}