<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Milkink Creative Studio | Where imagination becomes reality</title>
    <meta name="description"
          content="Milkink Creative Studio is a Vienna-based multidisciplinary creative agency specializing in visual art, graphic design...">
    <link rel="icon" href="images/favicon/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/home/home.min.css">

    <link rel="stylesheet" href="">
</head>
<body>
<main>
    {% include './components/header.html' %}
    <div>
        <a href="./about-milkink.html">./about-milkink.html</a>
        <a href="./index.html">./index.html</a>
        <a href="./lets-talk.html">./lets-talk.html</a>
        <a href="./services.html">./services.html</a>
        <a href="./work.html">./work.html</a>
    </div>
    {% include './components/footer.html' %}
</main>
<script src="./js/home/home.min.js"></script>
</body>
</html>