{% extends './templates/layout.html' %}

{% set title = 'Milkink Creative Studio | Where imagination becomes reality' %}
{% set description = 'Milkink Creative Studio is a Vienna-based multidisciplinary creative agency specializing in visual art, graphic design...' %}

{% block styles %}
    <link rel="stylesheet" href="css/lets-talk/lets-talk.min.css">
{% endblock %}

{% block content %}
    lets-talk
    <div>
        <a href="./about-milkink.html">./about-milkink.html</a>
        <a href="./index.html">./index.html</a>
        <a href="./lets-talk.html">./lets-talk.html</a>
        <a href="./services.html">./services.html</a>
        <a href="./work.html">./work.html</a>
    </div>
{% endblock %}

{% block scripts %}
    <script src="js/lets-talk/lets-talk.min.js"></script>
{% endblock %}