@import '../config/config';

body {
  background-image: url('../../images/privacy-policy/background-table.png');
  background-position: top center;
}

@media screen and (min-width: 1025px) {
  body {
    background-image: url('../../images/privacy-policy/background.png');
    background-position: 0 95%;
    background-size: cover;
  }
}