@import '../config/config';

body {
  background-image: url('../../images/privacy-policy/background-table.png');
  background-position: center center;
}

@media screen and (min-width: 1025px) {
  body {
    background-image: url('../../images/privacy-policy/background.png');
    background-position: top right;
    background-size: cover;
  }
}